ion-content {
    --background: url(../../assets/img/sala5.jpg);
    --background-repeat: no-repeat ;
    --background-size: contain;
  }
ion-label {
  color: black;
}
#crono{
  color:green;
  font-size: larger;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
}