<ion-header>
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-item>
      <ion-label position="stacked">INGRESE USUARIO</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">INGRESE CORREO</ion-label>
      <ion-input></ion-input>
    </ion-item><br><br>
    <ion-button shape="round" expand="block" color="secondary">Ingresar</ion-button><br>
    <ion-button routerLink="/home" shape="round" expand="block" color="danger">Volver</ion-button>
  </div>
</ion-content>
