<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-row>
      <ion-col>
        <form [formGroup]="ingreso">
          <ion-item>
            <ion-label position="stacked">INGRESE USUARIO</ion-label>
            <ion-input formControlName="nombre" [(ngModel)]="usuar.usser"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">INGRESE PASSWORD</ion-label>
            <ion-input formControlName="password" name="pass" [type]="showPassword ? 'text' : 'password'"></ion-input>
            <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
          </ion-item>
          <ion-button shape="round" expand="block" color="secondary" (click)="ingresar()">Ingresar</ion-button><br>
          <ion-button routerLink="/home" shape="round" expand="block" color="danger">Volver</ion-button>
          <a routerLink="/recuperar" class="small-text">¿Olvidaste tu contraseña?</a>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
