<ion-header>
  <ion-toolbar>
    <ion-title>Crear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-row>
      <ion-col>
        <form [formGroup]="registro">
          <ion-item>
            <ion-label position="stacked">INGRESE NOMBRE</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">INGRESE APELLIDOS</ion-label>
            <ion-input formControlName="apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">INGRESE PASSWORD</ion-label>
            <ion-input formControlName="password" name="pass" [type]="showPassword ? 'text' : 'password'"></ion-input>
            <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">INGRESE CORREO</ion-label>
            <ion-label class="correoL" position="stacked">(Ej: Usuario@correo.com)</ion-label>
            <ion-input formControlName="correo" type="email" [(ngModel)]="usuar.usser"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-toggle formControlName="rol" (ionChange)="change()" [(ngModel)]="rol" name="rol"></ion-toggle>
            <ion-icon name="people-circle-outline"></ion-icon>
          </ion-item><br>
          <ion-button shape="round" expand="block" color="secondary" (click)="guardar()">Registrar</ion-button><br>
          <ion-button routerLink="/home" shape="round" expand="block" color="danger">Volver</ion-button>
          <a routerLink="/login" class="small-text">¿Tienes una cuenta?</a>
        </form>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
