<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container">
    <ion-button routerLink="/login" shape="round" size ="large" expand="block" color="secondary">Login</ion-button>
    <ion-button routerLink="/crear" shape="round" size ="large" expand="block">Crear Usuario</ion-button>
    <ion-button routerLink="/apis" shape="round" size ="large" expand="block">Api</ion-button> 
    <br>
  </div>
</ion-content>
